Source: ngcp-vmnotify
Section: utils
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 debhelper (>= 10),
Standards-Version: 3.9.8
Homepage: https://www.sipwise.com/

Package: ngcp-vmnotify
Architecture: all
Depends:
 sipsak (>= 0.9.6+git20160713),
 ${misc:Depends},
Description: mwi generator for NGCP platform
 This program generates mwi notifications for the NGCP voicemail system.
