Source: ngcp-vmnotify
Section: utils
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 debhelper (>= 10),
Standards-Version: 3.9.8
Homepage: https://www.sipwise.com/

Package: ngcp-vmnotify
Architecture: all
Depends:
 libconfig-any-perl,
 libdbd-mysql-perl,
 libdbi-perl,
 libio-socket-ssl-perl,
 libjson-perl,
 liblog-log4perl-perl,
 libngcp-api-client-perl | ngcp-api-tools,
 libossp-uuid-perl,
 libreadonly-perl,
 sipsak (>= 0.9.6+git20160713),
 ${misc:Depends},
 ${perl:Depends},
Description: mwi generator for NGCP platform
 This program generates mwi notifications for the NGCP voicemail system.
